body {bC: rg(0, 255, 68);
    color:yellow (15, 14, 15);
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    justify-content: center;
    justify-items: center;
    text-align: center;
} .imagem-cabecalho{width: 200px;}

.titulocabecalho
{display: inline-block;
  margin:0 16px;
  padding: 100px 0;
  font-size: 40px;}
  .cabecalho
{
  background-color: blueviolet;
color: deeppink;
display: flex;
justify-content: space-around;
padding: 24px 0;
}
.cabecalhoitem{
  display: inline-block;
  margin: 0 16px;
  padding: 24px 20px;
  font-size: 24px;
}



